In [3]:
dic={
    "Name":"Aadarsh",
    "Age":25,
    "Address":"Bihar india"
}

In [4]:
print(type(dic))

<class 'dict'>

In [6]:
dic["Age"]

25

In [9]:
dic["Name"]="Govind"
dic["Age"]=30

In [10]:
print(dic)

{'Name': 'Govind', 'Age': 30, 'Address': 'Bihar india'}

In [11]:
dic["company"]="Unacademy"

In [13]:
dic

{'Name': 'Govind', 'Age': 30, 'Address': 'Bihar india', 'company': 'Unacademy'}

In [20]:
dic.update({
    "Name":"Aadarsh",
    "Age":25,
    "Address":"Bihar india",
    "company":"Tata technologies"
})

In [21]:
dic

{'Name': 'Aadarsh',
 'Age': 25,
 'Address': 'Bihar india',
 'company': 'Tata technologies',
 'Company': 'Tata technologies'}

In [24]:
dic.pop("company")

'Tata technologies'

In [25]:
dic

{'Name': 'Aadarsh',
 'Age': 25,
 'Address': 'Bihar india',
 'Company': 'Tata technologies'}

In [26]:
for i in dic:
    print(i)

Name
Age
Address
Company

In [33]:
for i in dic:
    print(str(i)+"-->"+str(dic[i]))

Name-->Aadarsh
Age-->25
Address-->Bihar india
Company-->Tata technologies

In [37]:
for i in dic:
    print(f"{i} ==> {dic[i]}")

Name ==> Aadarsh
Age ==> 25
Address ==> Bihar india
Company ==> Tata technologies

In [61]:
a.keys()

dict_keys(['Name', 'Age', 'Address', 'Company'])

In [62]:
a.values()

dict_values(['Aadarsh', 25, 'Bihar india', 'Tata technologies'])

In [63]:
a.items()

dict_items([('Name', 'Aadarsh'), ('Age', 25), ('Address', 'Bihar india'), ('Company', 'Tata technologies')])

In [64]:
for keys,values in a.items():
    print(f"{keys} ==> {values}")

Name ==> Aadarsh
Age ==> 25
Address ==> Bihar india
Company ==> Tata technologies

In [48]:
"Age" in dic.keys()

True

In [65]:
"ababa" in dic.keys()

False

In [66]:
result={}
type(result)

dict

In [67]:
dic

{}

In [70]:
b={'Name': 'Dhoni', 'Age': 42, 'Address': 'Bihar india', 'Team': 'CSK', "Run-Scored": 5178}

In [71]:
b

{'Name': 'Dhoni',
 'Age': 42,
 'Address': 'Bihar india',
 'Team': 'CSK',
 'Run-Scored': 5178}

In [74]:
b.items()

dict_items([('Name', 'Dhoni'), ('Age', 42), ('Address', 'Bihar india'), ('Team', 'CSK'), ('Run-Scored', 5178)])

In [75]:
x=b.items()

In [82]:
for key in b.keys():
    print(key)

Name
Age
Address
Team
Run-Scored

In [83]:
for value in b.values():
    print(value)

Dhoni
42
Bihar india
CSK
5178

In [84]:
for key,value in b.items():
    print(f"{key} : {value}")

Name : Dhoni
Age : 42
Address : Bihar india
Team : CSK
Run-Scored : 5178